<%- include('../partials/header.ejs'); -%>

<!---------------------- MENU --------------------------------->

<menu>
  <div class="title">
    <div class="view-board-title">
      <h1><%= board.title %></h1>
      <h3><%= board.description %></h3>
    </div>
    <div class="edit-board-title">
      <form action="/boards/<%= board._id %>?_method=PUT" method="POST">
        <input class="edit-title" name="title" placeholder="Add a Title" maxlength=100 value="<%= board.title %>">
        <input class="edit-description" name="description" placeholder="Add a Description" maxlength=200 value="<%= board.description %>">
        <button class="update-board-button" type="submit">Save</button>
      </form>
    </div>
  </div>
</menu>
<submenu>
  <a href="/boards">Choose another Board</a>
  <form id="delete-board" action="/boards/<%= board._id %>?_method=DELETE" method="POST">
    <input class="delete-board" type="submit" value="Delete Board">
  </form>
</submenu>

<!--------------------------- BOARD  ----------------------------->

<div class="board">
  <% board.posts.forEach(function(post) { %> 
    <div class="post post-container">
      <div class="post show-post">
        <p><%= post.content %></p>
        <form class="delete-post-button" action="/posts/<%= post._id %>?_method=DELETE" method="POST">
          <button class="delete-post-button" type="submit">
            <svg class="X" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 25 20" overflow="visible" stroke="black" stroke-width="2" stroke-linecap="round">
              <line x2="20" y2="20" />
              <line x1="20" y2="20" />
            </svg>
          </button>
        </form>
      </div>
      <div class="edit-post">
        <form action="/posts/<%= post._id %>?_method=PUT" method="POST">
          <textarea class="edit-textarea" name="text"><%= post.content %></textarea>
          <button class="update-post-button" type="submit">Save Post</button>
        </form>
      </div>
    </div>
  <% }) %>
  <form action="/boards/<%= board._id %>/posts" method="POST">
    <button class="post add-post-it" type="submit">+</button>
  </form>
</div>

<%- include('../partials/footer.ejs'); -%>

